.item .nameCol {
    font-size: 14px;
    font-weight: 300;
}

.item:last-child {
}

.users {
    min-width: 606px;
}

.buttonsContainer {
    text-align: center;
}

.buttonsContainer :not(:last-child) {
    margin-bottom: 18px;
}

.container {
}

.thead {
    background-color: #E5E5E5;

}

.nameCol {
    padding: 10px 17px;
    font-size: 14px;
    font-weight: 600;

}

.ageCol {
    font-size: 14px;
    font-weight: 600;
}